
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url("fonts/Atkinson-Hyperlegible-Regular-102.ttf");
}
@font-face {
    font-family: AtkinsonHyperlegible;
    font-weight: bold;
    src: url("fonts/Atkinson-Hyperlegible-Bold-102.ttf");
}

img {
    width:100%
}

body {
    font-family: AtkinsonHyperlegible;
    margin: 6.25%;
    margin-top: 0;
    padding: 0;
}
  
h1, .h1 {
    margin: 0;
    margin-left:0;
    font-size: 4rem;
}

p {
    text-align:justify;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}


.side-menu{
    text-align: right;
}

a:hover {
    font-weight: bold;    
}

.menu-toggle{
    cursor: pointer;
    display: none;
    position: fixed;
    
}

.main-parent {
    display: grid;
    grid-template-columns: 15fr 85fr;
}

.text-content {
    margin: 6.25%;
    margin-right: 20%;
}

.menu-list {
    display: block;
    position:sticky;
    top:10%;
}

.two-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.3rem;
}
.three-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.3rem;
}

@media only screen and (max-width: 1000px){
    h1{
        font-size: 5rem;
    }
    p {
        font-size: 1.5rem;
        text-align: left;
    }
    .menu-toggle{
        position:fixed;
        top:0;
        display: block;
        text-align: left;
        font-size: 2rem;
        
        margin-left: -1%;
        padding-left: 1%;
        padding-right: 1%;
        margin-right: -1%;
    }
    
    .menu-list {
        display:none;
        top: 0;
        position: fixed;
        background-color: rgba(255,255,255,0.5);
        width:95vw;
        height: 100vh;
        font-size: 2rem;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        overflow-x:hidden;
        margin-right: -5%;
        margin-left: -5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    a {
        margin-bottom: 0.5rem;
    }
    body {
        margin: 1%;
        margin-top: 0;
    }
    .main-parent{
        display: block
    }
    .text-content {
        margin-right: 6.25%
    }
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 6rem;
    }
    p{
        font-size: 3rem;
    }
    .menu-list {
        font-size: 4rem;
    }
    .menu-toggle{
        position: sticky;
        font-size: 4rem;
        width: 100%;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        background-color: rgba(255,255,255,0.5);
    }
    .text-content{
        margin:0;
    }
}

