
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url("fonts/Atkinson-Hyperlegible-Regular-102.ttf");
}
@font-face {
    font-family: AtkinsonHyperlegible;
    font-weight: bold;
    src: url("fonts/Atkinson-Hyperlegible-Bold-102.ttf");
}

body {
    font-family: AtkinsonHyperlegible;
    margin: 6.25%;
    padding: 0;
}
  
h1, .h1 {
    margin: 0;
    margin-left:0;
    font-size: 4rem;
}

p {
    text-align:justify;
    margin: 0;
    padding-bottom: 3rem;
}

.main-parent {
    display: grid;
    grid-template-columns: 15fr 85fr;
}

.text-content {
    margin: 6.25%;
    margin-right: 20%;
}


.p-content {
}

.side-menu{
    text-align: right;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;    
}